Options +FollowSymLinks
RewriteEngine On


RewriteCond %{THE_REQUEST} \s/+public/(\S) [NC]
RewriteRule ^ /%1 [R=301,NE,L]
RewriteCond %{REQUEST_URI} !(public|.css)
RewriteRule ^(.+)$ public/index.php?url=$1 [QSA,L]

RewriteRule ^(?!public/)(.)$ public/$1 [L,NC]